<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="true">
    <meta name="description" content="Ludex Code Türkiyenin En İyi Kod Paylaşım Ve Api Sistemi İle Karşınızda">
    <meta name="keywords" content="kod, discord, bot, discord.js, copy, paste, copy paste, hazır kod, bot kodları">
    <meta name="copyright" content="Ludex Code">
    <meta name="author" content="Ludex Code">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://i.pinimg.com/originals/4c/b0/51/4cb05145f3476b858b06776b696136d8.gif" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/gerekli.css">
 
    
  </head>
  <body class="bg-dark text-white">  
    
    <nav class="navbar navbar-expand-lg navbar-dark" id="mainNav" style="background-color: #23272a;">
      <a class="navbar-brand" href="/"><img style="border-radius:50%" width="50" height="50" src="https://i.pinimg.com/originals/4c/b0/51/4cb05145f3476b858b06776b696136d8.gif">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          
          
                   <div class="ccc">
           <a class="nav-link" href="/"><i class="fas fa-home"></i> Ana Sayfa</a>
          </div>

          <li class="nav-item" style="margin-left: 100px;">
            <a class="nav-link" href="/davet"><i class="fab fa-discord"></i>  Discord</a>
          </li>
          
                      </li>


                 <li class="nav-item" style="margin-left: 100px;">
            <a class="nav-link" href="/sss"><i class="fas fa-info-circle" ></i> Bilgi</a>
          </li>        
         
          
        </ul>
        
          <div class="dropdown">
         <div >
           


 
              
              
              
              
              
                                <div class="dropdown-divider"></div>
                </ul>
            </div>
          </div>
</div>
        

    </div>

    </nav>

    <br><br><br>
    
<svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
    <defs>
        <style>
            .a {
                fill: none;
            }
            
            .be {
                clip-path: url(#a);
            }
            
            .ce,
            .de {
                fill: #23272a;
            }
            
            .de {
                opacity: 0.5;
                isolation: isolate;
            }
        </style>
        <clipPath id="a">
            <rect class="a" width="1920" height="75"></rect>
        </clipPath>
    </defs>
   
  
  

<body>


  

  <div class="v12buttondiv" style="margin-left: 50px;">
    
    <h3 style="margin: 50px 50px 50px 50px;">
      Hayvan Api:
    </h3>
    
    <a style="margin-left: 50px;" href="/cat">
    
          <button class="btn btn-outline-primary btn-lg">Kedi</button>

    </a>
    
        <a style="margin-left: 20px; margin-top: 5px;" href="/dog">
    
          <button class="btn btn-outline-primary btn-lg">Köpek</button>

    </a>
            <a style="margin-left: 20px; margin-top: 5px;" href="/bunny">
    
          <button class="btn btn-outline-primary btn-lg">Tavşan</button>

    </a>
            <a style="margin-left: 20px; margin-top: 5px;" href="/duck">
    
          <button class="btn btn-outline-primary btn-lg">Ördek</button>

    </a>
            <a style="margin-left: 20px; margin-top: 5px;" href="/fox">
    
          <button class="btn btn-outline-primary btn-lg">Tilki</button>

    </a>
            <a style="margin-left: 20px; margin-top: 5px;" href="/lizard">
    
          <button class="btn btn-outline-primary btn-lg">Kertenkele</button>

    </a>
            <a style="margin-left: 20px; margin-top: 5px;" href="/shiba">
    
          <button class="btn btn-outline-primary btn-lg">Evcil Köpek</button>

    </a>
            <a style="margin-left: 20px; margin-top: 5px;" href="/koala">
    
          <button class="btn btn-outline-primary btn-lg">Koala</button>

    </a>
            <a style="margin-left: 20px; margin-top: 5px;" href="/panda">
    
          <button class="btn btn-outline-primary btn-lg">Panda</button>

    </a>
              
              
              
              
              
              
               <h3 style="margin: 50px 50px 50px 50px;">
      Anime Api:
    </h3>
              
               <a style="margin-left: 50px;" href="/bitegif">
    
          <button class="btn btn-outline-primary btn-lg">Anime Isırma (Gif)</button>

                 <!--
          "bitegif",
          "blushgif",
          "crygif",
          "cuddlegif",
          "dancegif",
          "feedgif",
          "fluffgif",
          "holoimg",
          "huggif",
          "kissgif",
          "kitsuneimg",
          "lickgif",
          "okamiimg",
          "patgif",
          "pokegif",
          "senkoimg",
          "slapgif",
          "smilegif",
          "tailgif",
          "ticklegif"
-->
                 
                 
    </a>
    
    <a style="margin-left: 20px; margin-top: 5px;" href="/blushgif">
          <button class="btn btn-outline-primary btn-lg">Anime Kızarma (Gif)</button>
    </a>
        <a style="margin-left: 20px; margin-top: 5px;" href="/crygif">
          <button class="btn btn-outline-primary btn-lg">Anime Ağlama (Gif)</button>
    </a>
            <a style="margin-left: 20px; margin-top: 5px;" href="/cuddlegif">
          <button class="btn btn-outline-primary btn-lg">Anime Sarılma (Gif)</button>
    </a>
                <a style="margin-left: 20px; margin-top: 5px;" href="/dancegif">
          <button class="btn btn-outline-primary btn-lg">Anime Dans (Gif)</button>
    </a>
                    <a style="margin-left: 20px; margin-top: 5px;" href="/feedgif">
          <button class="btn btn-outline-primary btn-lg">Anime Yemek (Gif)</button>
    </a>
                        <a style="margin-left: 20px; margin-top: 5px;" href="/fluffgif">
          <button class="btn btn-outline-primary btn-lg">Anime Tüy (Gif)</button>
    </a>
                            <a style="margin-left: 20px; margin-top: 5px;" href="/holoimg">
          <button class="btn btn-outline-primary btn-lg">Anime Holo (İMG)</button>
    </a>
    
                                <a style="margin-left: 20px; margin-top: 5px;" href="/huggif">
          <button class="btn btn-outline-primary btn-lg">Anime Sarılma.2 (Gif)</button>
    </a>
                                    <a style="margin-left: 20px; margin-top: 5px;" href="/kissgif">
          <button class="btn btn-outline-primary btn-lg">Anime Öpme (Gif)</button>
    </a>
                                        <a style="margin-left: 20px; margin-top: 5px;" href="/kitsuneimg">
          <button class="btn btn-outline-primary btn-lg">Anime Kitsune (İMG)</button>
    </a>
                                            <a style="margin-left: 20px; margin-top: 5px;" href="/lickgif">
          <button class="btn btn-outline-primary btn-lg">Anime Yalama (Gif)</button>
    </a>
                                                <a style="margin-left: 20px; margin-top: 5px;" href="/okamiimg">
          <button class="btn btn-outline-primary btn-lg">Anime Okami (İMG)</button>
    </a>
                                                    <a style="margin-left: 20px; margin-top: 5px;" href="/patgif">
          <button class="btn btn-outline-primary btn-lg">Anime Pat (Gif)</button>
    </a>
                                                        <a style="margin-left: 20px; margin-top: 5px;" href="/pokegif">
          <button class="btn btn-outline-primary btn-lg">Anime Dürtme (GİF)</button>
    </a>
                                                            <a style="margin-left: 20px; margin-top: 5px;" href="/senkoimg">
          <button class="btn btn-outline-primary btn-lg">Anime Senko (İMG)</button>
    </a>
                                                            <a style="margin-left: 20px; margin-top: 5px;" href="/slapgif">
          <button class="btn btn-outline-primary btn-lg">Anime Tokat (GİF)</button>
    </a>
                                                                <a style="margin-left: 20px; margin-top: 5px;" href="/smilegif">
          <button class="btn btn-outline-primary btn-lg">Anime Gülümseme (GİF)</button>
    </a>
    
              
                                                                    <a style="margin-left: 20px; margin-top: 5px;" href="/tailgif">
          <button class="btn btn-outline-primary btn-lg">Anime Kuyruk (GİF)</button>
    </a>
  
                                                                        <a style="margin-left: 20px; margin-top: 5px;" href="/ticklegif">
          <button class="btn btn-outline-primary btn-lg">Anime Gıdıklama (GİF)</button>
    </a>
    
    
    
  <span class="focus-input100" ></span>

          
        
					
    
    
				</div>
</form>


			<div class="contact100-more">
        
        
        
			 <span class="contact100-more-highlight"></span>
			</div>
		</div>
	</div>
 

    
    
    
    
    
    
    
    
    
    
    
   
</body>
</html>
