<title>Ludex Code | Bilgilendirme</title>
<br><br>
<main>
  <div class="container" style="padding: 1rem;">
    <div class="col-12 col-md-12 d-flex flex-column align-items-center justify-content-center text-center">
      <div>
          		<img class="sunucusresmi" height="200" width="200" src="https://i.pinimg.com/originals/4c/b0/51/4cb05145f3476b858b06776b696136d8.gif">
      </div>
      <h1 class="text-light font-weight-light">Selam, Ludex Code Bilgilendirme</h1>
    </div><br>
      <h3 class="text-danger">Sitedeki Komutların Kullanım Kuralları ?</h3>
    <hr>
      </li>
      <p> 
              <p>- Video çekme ve paylaşma izniniz var ancak videoda bizden, <a href="/davet">sunucumuzdan</a> bahsetmeniz gerekiyor.</p>
      <p>- Yazılı olarak paylaşım izniniz var ancak yazıda biz <a href="/davet">sunucumuzdan</a> bahsetmeniz gerekiyor.</p>
      <p>- "Biz yaptık" şeklinde konuşamazsınız.</p>
      <p>- Satamazsın.</p>
  </p>
  
  
    <hr>

  
  
  
  

    </p>
  </div>
</main>